# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/
